body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100%;
}
/* ---------- MOBILE SECTION ----------- */
@media only screen and (max-width: 600px) {
  body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

  .app-container {
    display: flex;
    width: 100%;
    height: 100%;
  }
}
