.group-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b92b27;
  background: -webkit-linear-gradient(to right, #1565c0, #b92b27);
  background: linear-gradient(to right, #1565c0, #b92b27);

  border-radius: 10;
  border: solid 2px #1565c0;
  width: 145px;
  height: 90px;
  margin: 0.5rem;
  cursor: pointer;
}

.group-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 90px;
}

.group-text {
  color: #fff;
  font-size: 1rem;
}

/* ---------- MOBILE SECTION ----------- */
@media only screen and (max-width: 600px) {
}
