.instructions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
}

.instructions-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.instructions-header {
  color: #c471ed;
  font-size: 1.5rem;
  font-style: italic;
}

.instructions-text {
  margin-left: 3rem;
  margin-right: 3rem;
}

.click-reference {
  color: blue;
}

/* ---------- MOBILE SECTION ----------- */
@media only screen and (max-width: 600px) {
  .instructions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .instructions-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }

  .instructions-header {
    color: #c471ed;
    font-size: 1.5rem;
    font-style: italic;
  }

  .instructions-text {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .click-reference {
    color: blue;
  }
}
