.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.quiz-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.quiz-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.quiz-header-text {
  font-size: 1.5rem;
  color: #4b134f;
  margin-left: 20%;
  margin-right: 20%;
}

.question-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 8rem;
}

.question-text {
  color: #000;
  font-size: 1rem;
}

.answer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ---------- MOBILE SECTION ----------- */
@media only screen and (max-width: 600px) {
  .quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .quiz-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
  }

  .quiz-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .quiz-header-text {
    font-size: 1.5rem;
    color: #4b134f;
    margin-left: 20%;
    margin-right: 20%;
  }

  .question-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8rem;
  }

  .question-text {
    color: #000;
    font-size: 1rem;
  }

  .answer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
